<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <div class:"panel panel-default items">
    <h3>Order Details:</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name </th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Line Item Total</th>
        </tr>
      </thead>
      </tbody>
        <% @order.line_items.each do |line_item|
          <% render "line_item", product: line_item.product, quantity: line_item.quantity.to_i %>
          <% end %>
    </table>
  </div>
  <div>
    <p><strong>Total:</strong> <=% humanized_money_with_symbol @order.total_amount %></p>
    <p><strong>Email:</strong> <=% @order.email %></p>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
