<h1>About Us</h1>

<div>
  <p>Text with information about the business</p>
</div>

<div>
  <p>Text with information about the business</p>
    <div>
      <p>Text with information about the business</p>
    </div>
</div>

<div>
  <p>Text with information about the business</p>
</div>